@page
@model CadastroCandidato.Web.ListaModel
@{ Layout = "Base"; }

@section Title { Candidatos - Lista }

@section Head {
  <script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>
}

<h1 class="title is-1">Lista de candidatos</h1>

<table class="table" style="width: 100%;">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>CPF</th>
      <th>Data de Nascimento</th>
      <th>Idade</th>
      <th>É maior de idade?</th>
    </tr>
  </thead>
  <tbody>
    @foreach(var candidato in Model.Candidatos) {
      <tr>
        <td>@candidato.Nome</td>
        <td>@candidato.Sobrenome</td>
        <td>@candidato.CPFFormatado</td>
        <td class="dtnasc">@candidato.DataDeNascimento.ToString("yyyy-MM-dd", System.Globalization.CultureInfo.InvariantCulture)</td>
        <td>@candidato.Idade</td>
        <td><span class="icon">@if(candidato.Maior) {
          <span class="material-icons">check</span>
        } else {
          <span class="material-icons">close</span>
        } </span></td>
      </tr>
    }
  </tbody>
</table>

<script>
  moment.locale("pt-br")
  for(var elem of document.getElementsByClassName("dtnasc")) {
    elem.textContent = moment(elem.textContent).format("L");
  }
</script>